body,
html {
	margin: 0px;
	padding: 0px;
	height: 125vh;
	width: 100vw;
	color: white;
	box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    /* position:absolute; */
    /* background: url(../images/background.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
  }
  
#page-heading {
    text-align: center;
    color:rgb(206, 206, 206);
    font-size: 2.5rem;
}

/* Description */
#desc{
    width:40vw;
}

/* Categories dropdown */
#category-bar{
    position: relative;
    right: 26vw;
}

#due-date{
    position: relative;
    left: 26vw;
    bottom: 57px;
}

form
{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

input
{   
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
    border-radius: 9px;
    border: none;
    width: 30vw;
    height: 40px;
}


input:focus {
    outline: none;
  }


button
{
    border: none;
    background-image: linear-gradient( 
    90deg
 , #24212d,#2047d8);
    border-radius: 20px;
    color: white;
    font-size: 29px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 176px;
    height: 48px;
    position: relative;
    bottom: 116px;
    cursor: pointer;
}

button:focus {
    outline: none;
  }

  /* Checkbox */
#check{
    font-size: 16px;
    margin-bottom: 0px;
    text-align: center;
    border-radius: 0px;
    border: none;
    width: 1.5vw;
    height: 41px;
}


ul
{
    list-style: none;
    padding:0px;
    margin:auto;
    height:67vh;
}

li
{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width:60vw;
    font-size: 15px;
    border-radius: 50px;
    background-color:rgb(21, 25, 31);;
    opacity: 0.9;
    margin:5px;
    padding:5px;
    transition:box-shadow ease-in-out 0.1s;
   
}

li:hover
{
    box-shadow:0px 0px 1px 1px white;
}

li p{
    padding: 0 3% 0 3%;
}


#delete-button{

    width: 238px;
    position: relative;
    bottom: 45px;
    left: -1px;

}

/* List of all tasks */
#task-list
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom:60px;
}

/* Red colour box containing category */
.category-box{
    height:18px;
    width:max-content;
    background-image: linear-gradient( 
        90deg
        ,#503232,#e00d0d);
    padding: 9px;
    border-radius: 10px;
}



